.section-specialty-container {
    height: 330px;
    background: #f5f5f5;
}
//reset slick slider css

.slick-prev {
    position: relative !important;
    left: 0 !important;
}
.slick-next {
    right: 0 !important;
}
